body {
	background-color:#e7e7e7;
}

.navbar {
	background: blue;
	
}

.textField {
	width: 100%;
	margin: 15;
	font-size: 18;

}
.formContainer {
	margin: 0 auto;
	margin-top:20px; 
	text-align: center;
	width: 400px;
	border:1px solid silver;
	box-shadow: 1px 1px 1px silver;
	padding:21px;
	background-color:white;

}